body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
h1 {
  text-align: center;
}
.game-img img {
  height: 500px;
  width: auto;
  border: 8px solid black;
  border-radius: 20px;
}
.game h2 {
  text-align: center;
  font-size: 40px;
}
.game p {
  text-align: justify;
}
.game-content {
  font-size: 30px;
  padding: 40px;
}
.game .button {
  display: inline-block;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.game .button:hover {
  background-color: #45a049;
}
